<html>
<head>
</head>
<body>
  <table border="1">
  {% for product in product_list %}
    {% if not forloop.counter|divisibleby:2 %}
    <tr>
    {% endif %}
      <td> 
        <a href="/sell/function/{{ product.id }}">
          {% if product.hasImage %}
            <img src="{{ STATIC_URL }}product/{{ brand.name }}/{{ product.name }}.jpg" />
          {% else %}
            <h1> {{ product.name }} </h1>
          {% endif %}
        </a>
      </td>
    {% if forloop.counter|divisibleby:2 %}
    </tr>
    {% endif %}
  {% endfor %}
  {% if not product_list|length|divisibleby:2 %}
      <td> </td>
    </tr>
  {% endif %}
  </table>
</body>
</html>
