<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="th" xml:lang="th">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<style type="text/css">
  body {
    font-size: 400%;
    background-color: #cccccc;
  }
  span.home {
    font-size: 30%;
  }
  div.main {
    text-align: center;
  }
  table, th, td {
    border: 1px solid black;
  }
  table.main {
    width: 80%;
    margin: auto;
  }
  td.main {
    width: 50%;
  }
</style>
</head>
<body>
  <div class="main">
    <span class="home"><a href="/">กลับไปหน้าแรก</a></span><br />
    <table class="main">
    {% for brand in brand_list %}
      {% if not forloop.counter|divisibleby:2 %}
      <tr>
      {% endif %}
        <td class="main"> 
          <a href="/sell/product/{{ brand.id }}">
            {{ brand.name }}
          </a>
        </td>
      {% if forloop.counter|divisibleby:2 %}
      </tr>
      {% endif %}
    {% endfor %}
    {% if not brand_list|length|divisibleby:2 %}
        <td class="main"> </td>
      </tr>
    {% endif %}
    </table>
  </div>
</body>
</html>
