<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="th" xml:lang="th">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<style type="text/css">
  body {
    font-size: 400%;
    background-color: #cccccc;
  }
  div.head {
    font-size: 200%;
    text-align: center;
  }
  div.main {
    text-align: center;
  }
  div.foot {
    font-size: 80%;
    text-align: center;
  }
</style>
</head>
<body>
  <div class="head">
    ระบบบันทึกการขายสี
  </div>
  <div class="main">
    <a href="/sell/" >เพิ่มรายการขายสี</a><br />
    <a href="/search/" >ค้นหารายการสีที่ขาย</a>
  </div>
  <hr />
  <div class="foot">
    บริษัท สถาพรพงศ์ จำกัด 
  </div>
</body>
</html>
