<html>
<head>
</head>
<body>
<div>
  ค้นตาม<br />วัน <a href="/search/month/{{ date.month }}/{{ date.year }}/">เดือน</a><br />
  <a href="/search/date/{{ previous_day.day }}/{{ previous_day.month }}/{{ previous_day.year }}/">วันก่อนหน้า</a> <a href="/search/date/{{ next_day.day }}/{{ next_day.month }}/{{ next_day.year }}/">วันต่อไป</a>
</div>
<table border="1">
  <tr>
    <th>วันที่</th>
    <th>ผลิตภัณฑ์</th>
    <th>การใช้งาน</th>
    <th>เบอร์สี</th>
    <th>สีเบส</th>
    <th>ขนาด</th>
    <th>ราคา</th>
    <th>จำนวน</th>
    <th>ชื่อลูกค้า</th>
    <th>หมายเหตุ</th>
  </tr>
  {% for sell_record in sell_record_list %}
  <tr>
    <td>{{ sell_record.date }}</td>
    <td>{{ sell_record.function.product.brand.name }} {{ sell_record.product.name }}</td>
    <td>{{ sell_record.function.name }}</td>
    <td>{{ sell_record.code }}</td>
    <td>{{ sell_record.base.name }}</td>
    <td>{{ sell_record.size.value }}</td>
    <td>{{ sell_record.price }}</td>
    <td>{{ sell_record.unit }}</td>
    <td>{{ sell_record.customer }}</td>
    <td>{{ sell_record.note }}</td>
  </tr>
  {% endfor %}
</table>
</body>
</html>
