<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="th" xml:lang="th">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}template_css/main.css" />
</head>
<body>
<div class="main">
  <a href="/search/date/" >ค้นตามวันที่</a><br />
  <a href="/search/select/customer/" >ค้นตามชื่อลูกค้า</a><br />
  <a href="/search/select/code/" >ค้นตามเบอร์สี</a><br />
</div>
</body>
</html>
