<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="th" xml:lang="th">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <style type="text/css">
    body {
      font-size: 200%;
      background-color: #cccccc;
      text-align: center;
    }
    table {
      margin: auto;
    }
  </style>
</head>
<body>
<div>
  ดูเป็น วัน <a href="/search/month/{{ date.month }}/{{ date.year }}/">เดือน</a><br />
  <a href="/search/date/{{ previous_day.day }}/{{ previous_day.month }}/{{ previous_day.year }}/"> &lt;&lt; วันก่อนหน้า</a> <a href="/search/date/{{ next_day.day }}/{{ next_day.month }}/{{ next_day.year }}/">วันต่อไป &gt;&gt;</a>
</div>
<table border="1">
  <tr>
    <th>วันที่</th>
    <th>ผลิตภัณฑ์</th>
    <th>การใช้งาน</th>
    <th>เบอร์สี</th>
    <th>สีเบส</th>
    <th>ขนาด</th>
    <th>ราคา</th>
    <th>จำนวน</th>
    <th>ชื่อลูกค้า</th>
    <th>หมายเหตุ</th>
  </tr>
  {% for sell_record in sell_record_list %}
  <tr>
    <td>{{ sell_record.date }}</td>
    <td>{{ sell_record.function.product.brand.name }} {{ sell_record.product.name }}</td>
    <td>{{ sell_record.function.name }}</td>
    <td>{{ sell_record.code }}</td>
    <td>{{ sell_record.base.name }}</td>
    <td>{{ sell_record.size.value }}</td>
    <td>{{ sell_record.price }}</td>
    <td>{{ sell_record.unit }}</td>
    <td>{{ sell_record.customer }}</td>
    <td>{{ sell_record.note }}</td>
  </tr>
  {% endfor %}
</table>
</body>
</html>
