table {
  width: 100%;
  text-align: left;
}

td.label {
  width: 25%;
}

td.input {
  width: 50%;
}

td.output {
  width: 25%;
}

input {
  width: 80%;
}

input.button {
  width: 48%;
}

input.submit {
  width: 40%;
}

textarea {
  width: 100%;
}
